<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php">
<testsuites>
  <testsuite name="PHP Raft Tests">
    <directory>tests/unit</directory>
  </testsuite>
</testsuites>
</phpunit>
